{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}

    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> {{ messages[0] }}. </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th>{{ user.id }}</th>
                <th>{{ user.name }}</th>
                <th>{{ user.email }}</th>
                <th>
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm" href="/userattendance/{{ user.id }}"><span class="icon is-small"><i class="fas fa-lock"></i></span><span> View Attendance</span></a>
                    </div>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endwith %}
{% endblock %}