<!-- templates/changepass.html -->

{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}

    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> {{ messages }}. </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

<form method="POST" action="/changepass">
  <h1 class="h3 mb-3 fw-normal">Şifre Değiştirme</h1>

  <div class="form-floating mb-3">
    <input type="password" class="form-control {% if messages[0] == 2 %} is-invalid {% endif %}" id="floatingPassword" name="password1" placeholder="Şifre">
    <label for="floatingPassword">Şifre</label>
  </div>
  <div class="form-floating mb-3">
      <input type="password" class="form-control {% if messages[0] == 2 %} is-invalid {% endif %}" id="floatingPassword" name="password2" placeholder="Şifre">
      <label for="floatingPassword">Şifre Tekrar</label>
  </div>

  <button class="w-100 btn btn-lg btn-primary" type="submit">Şifreyi Değiştir</button>
</form>
{% endwith %}
{% endblock %}