{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
<h1 class="h1 mb-3 fw-normal">Class Menu</h1>
    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> {{ messages[0] }}. </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
<a class="btn btn-primary btn-sm" href="{{ url_for('classes.classescreate') }}"><span class="icon is-small"><i class="fas fa-plus"></i></span><span> Add Class</span></a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class Name</th>
                <th>Teacher Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes %}
            <tr>
                <th>{{ class.class_id }}</th>
                <th>{{ class.class_name }}</th>
                <th>{{ class.name }}</th>
                <th>
                    <div class="btn-group">
                        <a class="btn btn-danger btn-sm" href="/api/classdel/{{ class.class_id }}"><span class="icon is-small"><i class="fas fa-trash"></i></span><span> Remove Class</span></a>
                    </div>
                </th>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endwith %}
{% endblock %}