{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
<h1 class="h1 mb-3 fw-normal">Attendance List</h1>
    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong> {{ messages[0] }}. </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for at in attendance %}
            <tr>
                <th>{{ at.date }}</th>
                <th>
                    <div class="btn-group">
                        <a class="btn btn-primary btn-sm" href="/classlist/old/{{ at.class_id }}/{{at.date}}"><span class="icon is-small"><i class="fas fa-lock"></i></span><span> Edit This Date</span></a>
                    </div>
                </th>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endwith %}
{% endblock %}